@use '@fontsource-variable/biorhyme';
@use '@fontsource-variable/libre-franklin';

@use 'mixins.scss' as *;

:root {
	// Fonts
	--font-brand: 'BioRhyme Variable', serif;
	--font-plain: 'Libre Franklin Variable', sans-serif;
	// Font weights
	--font-weight-thin: 300;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semi-bold: 600;

	// Dimensions
	--2px: 2px;
	--4px: 4px;
	--5px: 5px;
	--6px: 6px;
	--8px: 8px;
	--10px: 10px;
	--11px: 11px;
	--12px: 12px;
	--14px: 14px;
	--16px: 16px;
	--18px: 18px;
	--20px: 20px;
	--22px: 22px;
	--24px: 24px;
	--28px: 28px;
	--32px: 32px;
	--36px: 36px;
	--42px: 42px;
	--45px: 45px;
	--48px: 48px;
	--64px: 64px;
	--80px: 80px;

	// z-indexes
	--zindex-nav: 1000;
	--zindex-contacts: 2000;

	// Min/Max widths
	--min-width: 375px;
	--max-width: 1800px;
	--contacts-width: 320px;
	--card-max-width: 950px;
	--header-max-width: 900px;

	// Spacing
	--spacing-xxs: calc(6px + (6 * (100vw - 375px) / (1800 - 375)));
	--spacing-xs: calc(12px + (12 * (100vw - 375px) / (1800 - 375)));
	--spacing-s: calc(16px + (16 * (100vw - 375px) / (1800 - 375)));
	--spacing-m: calc(24px + (24 * (100vw - 375px) / (1800 - 375)));
	--spacing-l: calc(32px + (32 * (100vw - 375px) / (1800 - 375)));
	--spacing-xl: calc(64px + (64 * (100vw - 375px) / (1800 - 375)));
	--spacing-xxl: calc(80px + (80 * (100vw - 375px) / (1800 - 375)));
}

body,
html {
	font-family: var(--font-plain);
	font-size: var(--16px);

	color: var(--color-primary);
	background: var(--color-surface);

	width: 100%;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

section {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-family: var(--font-plain);
	font-weight: var(--font-weight-regular);
	font-size: 1rem;
	line-height: 1.5;
	padding: 0;
	margin: 0;
}

.display-large {
	font-family: var(--font-brand);
	font-weight: var(--font-weight-semi-bold);
	font-size: var(--42px);

	@include md($screen-small) {
		font-size: var(--64px);
	}

	@include md($screen-medium) {
		font-size: var(--80px);
	}
}

.display-medium {
	font-family: var(--font-brand);
	font-weight: var(--font-weight-semi-bold);
	font-size: var(--36px);

}

.display-small {
	font-family: var(--font-brand);
	font-weight: var(--font-weight-semi-bold);
	font-size: var(--24px);

	@include md($screen-medium) {
		font-size: var(--28px);
	}
}

.headline-large {
	font-family: var(--font-plain);
	font-weight: var(--font-weight-medium);
	font-size: var(--18px);


	@include md($screen-medium) {
		font-size: var(--28px);
	}
}

.headline-medium {
	font-family: var(--font-plain);
	font-weight: var(--font-weight-regular);
	font-size: var(--16px);

	@include md($screen-small) {
		font-size: var(--20px);
	}

	@include md($screen-medium) {
		font-size: var(--24px);
	}
}

.headline-small {
	font-family: var(--font-plain);
	font-weight: var(--font-weight-regular);
	font-size: var(--45px);
}

.title-large {
	font-family: var(--font-plain);
	font-weight: var(--font-weight-semi-bold);
	font-size: var(--16px);

	@include md($screen-medium) {
		font-size: var(--18px);
	}
}

.title-medium {
	font-family: var(--font-plain);
	font-weight: var(--font-weight-semi-bold);
	font-size: var(--14px);

	@include md($screen-small) {
		font-size: var(--16px);
	}
}

.title-small {
	font-family: var(--font-plain);
	font-weight: var(--font-weight-medium);
	font-size: var(--14px);
}

.body-large {
	font-family: var(--font-plain);
	font-weight: var(--font-weight-regular);
	font-size: var(--14px);
}

.body-medium {
	font-family: var(--font-plain);
	font-weight: var(--font-weight-regular);
	font-size: var(--12px);

	@include md($screen-medium) {
		font-size: var(--14px);
	}
}

.body-small {
	font-family: var(--font-plain);
	font-weight: var(--font-weight-regular);
	font-size: var(--10px);

	@include md($screen-medium) {
		font-size: var(--12px);
	}
}

.label-large {
	font-family: var(--font-plain);
	font-weight: var(--font-weight-medium);
	font-size: var(--14px);
}

.label-medium {
	font-family: var(--font-plain);
	font-weight: var(--font-weight-medium);
	font-size: var(--12px);
}

.label-small {
	font-family: var(--font-plain);
	font-weight: var(--font-weight-thin);
	font-size: var(--11px);
}