$screen-small: 480px;
$screen-medium: 768px;
$screen-large: 1024px;
$screen-xlarge: 1200px;
$screen-xxlarge: 1600px;

@mixin md($min: null, $max: null) {
    $query: '';

    @if ($min == null) and ($max ==  null) {
        @error "At least one of $min or $max should be specified.";
    }
    @if $min != null {
        $query: '(min-width: #{$min})';

        @if ($max != null) {
            $query: '#{$query} and ';
        }
    }
    @if $max != null {
        $query: '#{$query}(max-width: #{$max})';
    }

    @media #{$query} {
        @content;
    }
}